/* For testing only */

* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

*:not(body):not(html) {
  box-sizing: border-box;
  border:1px dashed #000;
}

/* End for testing */

/*mobile*/

body {
  background: lightpink;
  border: 3px solid purple;
}

.header {
  width: 100vw;
  height: 20vh;
}

.image-wrapper {
  width: 90vw;
  margin: auto;
  height: 80vh;
}

.image {
  height: 33.33%;
}


/* media queries */

/*tablet*/
@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }

  .image {
    width: 50%;
    float: left;
  }

}

/*laptop*/
@media screen and (min-width: 1025px) {
  body {
    background-color: lightyellow;
  }

  .image {
    width: 33%;
    margin: auto; /*i expect this to make the three images center in the image-wrapper but it doesnt.  why?*/
  }
}
